.container {
    margin-top: 30px;
    width: 482px;
    height: 482px;
    border: solid 0.5px gray;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.pixels {
    border: solid 0.5px gray;
    flex-shrink: 0;
    box-sizing: border-box;
}

.change-color {
    background-color: red;
}